html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f9fc;
  min-height: 100vh;
  background-image: linear-gradient(to top, #f3eed9, #ecdab4, #eac392, #eaab75, #eb905f, #eb815c, #ea715c, #e8605e, #e35e69, #db5d73, #d35d7c, #c95e84);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
